.flexlayout__layout {
  --color-text: #eeeeee;
  --color-background: black;
  --color-base: black;
  --color-1: rgb(17.85, 17.85, 17.85);
  --color-2: rgb(25.5, 25.5, 25.5);
  --color-3: rgb(38.25, 38.25, 38.25);
  --color-4: #333333;
  --color-5: rgb(63.75, 63.75, 63.75);
  --color-6: rgb(76.5, 76.5, 76.5);
  --color-drag1: rgb(207, 232, 255);
  --color-drag2: rgb(183, 209, 181);
  --color-drag1-background: rgba(128, 128, 128, 0.15);
  --color-drag2-background: rgba(128, 128, 128, 0.15);
  --font-size: medium;
  --font-family: Roboto, Arial, sans-serif;
  --color-overflow: gray;
  --color-icon: gray;
  --color-tabset-background: var(--color-1);
  --color-tabset-background-selected: var(--color-1);
  --color-tabset-background-maximized: var(--color-6);
  --color-tabset-divider-line: var(--color-4);
  --color-tabset-header-background: var(--color-1);
  --color-tabset-header: var(--color-text);
  --color-border-tab-content: var(--color-background);
  --color-border-background: var(--color-1);
  --color-border-divider-line: var(--color-4);
  --color-tab-content: var(--color-background);
  --color-tab-selected: var(--color-text);
  --color-tab-selected-background: var(--color-4);
  --color-tab-unselected: gray;
  --color-tab-unselected-background: transparent;
  --color-tab-textbox: var(--color-text);
  --color-tab-textbox-background: var(--color-3);
  --color-border-tab-selected: var(--color-text);
  --color-border-tab-selected-background: var(--color-4);
  --color-border-tab-unselected: gray;
  --color-border-tab-unselected-background: var(--color-2);
  --color-splitter: var(--color-2);
  --color-splitter-hover: var(--color-4);
  --color-splitter-drag: var(--color-5);
  --color-drag-rect-border: var(--color-4);
  --color-drag-rect-background: var(--color-1);
  --color-drag-rect: var(--color-text);
  --color-popup-border: var(--color-6);
  --color-popup-unselected: var(--color-text);
  --color-popup-unselected-background: var(--color-background);
  --color-popup-selected: var(--color-text);
  --color-popup-selected-background: var(--color-4);
  --color-edge-marker: gray;
  --color-edge-icon: #eee;
  --color-mini-scroll-indicator: rgba(128, 128, 128, 0.5);
  --color-mini-scroll-indicator-hovered: rgba(128, 128, 128, 0.8);
  --size-mini-scroll-indicator: 3px;
  --color-toolbar-button-hover: var(--color-4);
}

/*
    base classes
*/
.flexlayout__layout {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  background-color: var(--color-background);
}
.flexlayout__layout_overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
.flexlayout__layout_tab_stamps {
  position: absolute;
  top: -10000px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.flexlayout__layout_moveables {
  position: absolute;
  top: -20000px;
  visibility: hidden;
  width: 100px;
  height: 100px;
}
.flexlayout__layout_main {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-basis: 0px;
  min-width: 0;
  min-height: 0;
}
.flexlayout__layout_border_container {
  display: flex;
  flex-grow: 1;
  flex-basis: 0px;
  min-width: 0;
  min-height: 0;
}
.flexlayout__layout_border_container_inner {
  display: flex;
  flex-grow: 1;
  flex-basis: 0px;
  min-width: 0;
  min-height: 0;
}
.flexlayout__splitter {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
  background-color: var(--color-splitter);
}
@media (hover: hover) {
  .flexlayout__splitter:hover {
    background-color: var(--color-splitter-hover);
    border-radius: 5px;
    transition: background-color ease-in 0.1s;
    transition-delay: 0.05s;
  }
}
.flexlayout__splitter_drag {
  position: absolute;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-splitter-drag);
  border-radius: 5px;
}
.flexlayout__splitter_handle {
  background-color: #ccc;
  border-radius: 3px;
}
.flexlayout__splitter_handle_horz {
  width: 3px;
  height: 30px;
}
.flexlayout__splitter_handle_vert {
  width: 30px;
  height: 3px;
}
.flexlayout__splitter_extra {
  touch-action: none;
  background-color: transparent;
}
.flexlayout__outline_rect {
  position: absolute;
  z-index: 1000;
  box-sizing: border-box;
  pointer-events: none;
  background: var(--color-drag1-background);
  border: 2px solid var(--color-drag1);
  border-radius: 5px;
}
.flexlayout__outline_rect_edge {
  z-index: 1000;
  box-sizing: border-box;
  pointer-events: none;
  background: var(--color-drag2-background);
  border: 2px solid var(--color-drag2);
  border-radius: 5px;
}
.flexlayout__edge_rect {
  position: absolute;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background-color: var(--color-edge-marker);
}
.flexlayout__drag_rect {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.3em 0.8em;
  overflow: hidden;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--color-drag-rect);
  word-wrap: break-word;
  background-color: var(--color-drag-rect-background);
  border: 2px solid var(--color-drag-rect-border);
  border-radius: 5px;
}
.flexlayout__row {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-basis: 0px;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}
.flexlayout__tabset {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
  font-family: var(--font-family);
  background-color: var(--color-tabset-background);
}
.flexlayout__tabset_container {
  display: flex;
  flex-grow: 1;
  flex-basis: 0px;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}
.flexlayout__tabset_tab_divider {
  width: 4px;
}
.flexlayout__tabset_content {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  flex-basis: 0px;
  min-width: 0;
  min-height: 0;
}
.flexlayout__tabset_leading {
  display: flex;
}
.flexlayout__tabset_header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 3px 3px 3px 5px;
  font-size: var(--font-size);
  color: var(--color-tabset-header);
  background-color: var(--color-tabset-header-background);
  border-bottom: 1px solid var(--color-tabset-divider-line);
}
.flexlayout__tabset_header_content {
  flex-grow: 1;
}
.flexlayout__tabset_tabbar_outer {
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  font-size: var(--font-size);
  background-color: var(--color-tabset-background);
}
.flexlayout__tabset_tabbar_outer_top {
  padding: 0px 2px 0px 2px;
  border-bottom: 1px solid var(--color-tabset-divider-line);
}
.flexlayout__tabset_tabbar_outer_bottom {
  padding: 0px 2px 0px 2px;
  border-top: 1px solid var(--color-tabset-divider-line);
}
.flexlayout__tabset_tabbar_inner {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  scrollbar-width: none;
}
.flexlayout__tabset_tabbar_inner::-webkit-scrollbar {
  display: none;
}
.flexlayout__tabset_tabbar_inner_tab_container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  padding-right: 4px;
  padding-left: 4px;
  white-space: nowrap;
}
.flexlayout__tabset_tabbar_inner_tab_container_top {
  border-top: 2px solid transparent;
}
.flexlayout__tabset_tabbar_inner_tab_container_bottom {
  border-bottom: 2px solid transparent;
}
.flexlayout__tabset-selected {
  background-color: var(--color-tabset-background-selected);
}
.flexlayout__tabset-maximized {
  background-color: var(--color-tabset-background-maximized);
}
.flexlayout__tab_button_stamp {
  box-sizing: border-box;
  display: inline-flex;
  gap: 0.3em;
  align-items: center;
  white-space: nowrap;
}
.flexlayout__tab {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  color: var(--color-text);
  background-color: var(--color-tab-content);
}
.flexlayout__tab_moveable {
  position: relative;
  box-sizing: border-box;
  min-width: 1px;
  height: 100%;
  min-height: 1px;
  overflow: auto;
}
.flexlayout__tab_overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.2392156863);
}
.flexlayout__tab_button {
  box-sizing: border-box;
  display: flex;
  gap: 0.3em;
  align-items: center;
  padding: 3px 0.5em;
  cursor: pointer;
}
.flexlayout__tab_button_stretch {
  box-sizing: border-box;
  display: flex;
  gap: 0.3em;
  align-items: center;
  width: 100%;
  padding: 3px 0em;
  color: var(--color-tab-selected);
  text-wrap: nowrap;
  cursor: pointer;
  background-color: transparent;
}
@media (hover: hover) {
  .flexlayout__tab_button_stretch:hover {
    color: var(--color-tab-selected);
  }
}
.flexlayout__tab_button--selected {
  color: var(--color-tab-selected);
  background-color: var(--color-tab-selected-background);
}
@media (hover: hover) {
  .flexlayout__tab_button:hover {
    color: var(--color-tab-selected);
  }
}
.flexlayout__tab_button--unselected {
  color: var(--color-tab-unselected);
  background-color: var(--color-tab-unselected-background);
}
.flexlayout__tab_button_leading {
  display: flex;
}
.flexlayout__tab_button_content {
  display: flex;
  text-wrap: nowrap;
}
.flexlayout__tab_button_textbox {
  width: 10em;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--color-tab-textbox);
  background-color: var(--color-tab-textbox-background);
  border: none;
  border: 1px inset var(--color-1);
  border-radius: 3px;
}
.flexlayout__tab_button_textbox:focus {
  outline: none;
}
.flexlayout__tab_button_trailing {
  display: flex;
  visibility: hidden;
  border-radius: 4px;
}
.flexlayout__tab_button_trailing:hover {
  background-color: var(--color-toolbar-button-hover);
}
@media (hover: hover) {
  .flexlayout__tab_button:hover .flexlayout__tab_button_trailing {
    visibility: visible;
  }
}
.flexlayout__tab_button--selected .flexlayout__tab_button_trailing {
  visibility: visible;
}
.flexlayout__tab_button_overflow {
  display: flex;
  align-items: center;
  width: 2em;
  overflow: hidden;
  font-size: inherit;
  color: var(--color-overflow);
  background-color: transparent;
  border: none;
}
.flexlayout__tab_toolbar {
  display: flex;
  gap: 0.3em;
  align-items: center;
  padding-right: 0.3em;
  padding-left: 0.5em;
}
.flexlayout__tab_toolbar_icon {
  padding: 1px;
  margin: 0px;
  font-size: inherit;
  outline: none;
  background-color: transparent;
  border: none;
}
.flexlayout__tab_toolbar_button {
  padding: 1px;
  margin: 0px;
  font-size: inherit;
  outline: none;
  background-color: transparent;
  border: none;
  border-radius: 4px;
}
@media (hover: hover) {
  .flexlayout__tab_toolbar_button:hover {
    background-color: var(--color-toolbar-button-hover);
  }
}
.flexlayout__tab_toolbar_sticky_buttons_container {
  display: flex;
  gap: 0.3em;
  align-items: center;
  padding-left: 5px;
}
.flexlayout__border {
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--color-border);
  background-color: var(--color-border-background);
}
.flexlayout__border_tab_contents {
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--color-border-tab-content);
}
.flexlayout__border_leading {
  display: flex;
}
.flexlayout__border_top {
  align-items: center;
  border-bottom: 1px solid var(--color-border-divider-line);
}
.flexlayout__border_bottom {
  align-items: center;
  border-top: 1px solid var(--color-border-divider-line);
}
.flexlayout__border_left {
  flex-direction: column;
  align-content: center;
  border-right: 1px solid var(--color-border-divider-line);
}
.flexlayout__border_right {
  flex-direction: column;
  align-content: center;
  border-left: 1px solid var(--color-border-divider-line);
}
.flexlayout__border_inner {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  align-items: center;
  scrollbar-width: none;
}
.flexlayout__border_inner::-webkit-scrollbar {
  display: none;
}
.flexlayout__border_inner_tab_container {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  padding-right: 2px;
  padding-left: 2px;
  white-space: nowrap;
}
.flexlayout__border_inner_tab_container_right {
  transform: rotate(90deg);
  transform-origin: top left;
}
.flexlayout__border_inner_tab_container_left {
  flex-direction: row-reverse;
  transform: rotate(-90deg);
  transform-origin: top right;
}
.flexlayout__border_tab_divider {
  width: 4px;
}
.flexlayout__border_button {
  box-sizing: border-box;
  display: flex;
  gap: 0.3em;
  align-items: center;
  padding: 3px 0.5em;
  margin: 2px 0px;
  white-space: nowrap;
  cursor: pointer;
}
.flexlayout__border_button--selected {
  color: var(--color-border-tab-selected);
  background-color: var(--color-border-tab-selected-background);
}
@media (hover: hover) {
  .flexlayout__border_button:hover {
    color: var(--color-border-tab-selected);
  }
}
.flexlayout__border_button--unselected {
  color: var(--color-border-tab-unselected);
  background-color: var(--color-border-tab-unselected-background);
}
.flexlayout__border_button_leading {
  display: flex;
}
.flexlayout__border_button_content {
  display: flex;
}
.flexlayout__border_button_trailing {
  display: flex;
  visibility: hidden;
  border-radius: 4px;
}
@media (hover: hover) {
  .flexlayout__border_button:hover .flexlayout__border_button_trailing {
    visibility: visible;
  }
}
.flexlayout__border_button--selected .flexlayout__border_button_trailing {
  visibility: visible;
}
.flexlayout__border_toolbar {
  display: flex;
  gap: 0.3em;
  align-items: center;
}
.flexlayout__border_toolbar_left,
.flexlayout__border_toolbar_right {
  flex-direction: column;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
}
.flexlayout__border_toolbar_top,
.flexlayout__border_toolbar_bottom {
  padding-right: 0.3em;
  padding-left: 0.5em;
}
.flexlayout__border_toolbar_button {
  padding: 1px;
  font-size: inherit;
  outline: none;
  background-color: transparent;
  border: none;
  border-radius: 4px;
}
@media (hover: hover) {
  .flexlayout__border_toolbar_button:hover {
    background-color: var(--color-toolbar-button-hover);
  }
}
.flexlayout__border_toolbar_button_overflow {
  display: flex;
  align-items: center;
  width: 1.5em;
  font-size: inherit;
  color: var(--color-overflow);
  background-color: transparent;
  border: none;
}
.flexlayout__popup_menu {
  font-family: var(--font-family);
  font-size: var(--font-size);
}
.flexlayout__popup_menu_item {
  padding: 2px 0.5em;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 2px;
}
.flexlayout__popup_menu_item--selected {
  font-weight: 500;
  color: var(--color-tab-selected);
  background-color: var(--color-tab-selected-background);
}
@media (hover: hover) {
  .flexlayout__popup_menu_item:hover {
    background-color: var(--color-6);
  }
}
.flexlayout__popup_menu_container {
  position: absolute;
  z-index: 1000;
  min-width: 100px;
  max-height: 50%;
  padding: 2px;
  overflow: auto;
  color: var(--color-popup-unselected);
  background: var(--color-popup-unselected-background);
  border: 1px solid var(--color-popup-border);
  border-radius: 3px;
  box-shadow: none;
}
.flexlayout__floating_window _body {
  height: 100%;
}
.flexlayout__floating_window_content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.flexlayout__error_boundary_container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
}
.flexlayout__error_boundary_content {
  display: flex;
  align-items: center;
}
.flexlayout__border_sizer {
  position: absolute;
  top: -30000px;
  padding-top: 6px;
  padding-bottom: 5px;
  font-family: var(--font-family);
  font-size: var(--font-size);
}
.flexlayout__mini_scrollbar {
  position: absolute;
  visibility: hidden;
  width: var(--size-mini-scroll-indicator);
  height: var(--size-mini-scroll-indicator);
  background-color: var(--color-mini-scroll-indicator);
  border-radius: 5px;
  opacity: 0;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}
.flexlayout__mini_scrollbar:hover {
  background-color: var(--color-mini-scroll-indicator-hovered);
  transition: background-color 0.3s ease-in-out;
}
.flexlayout__mini_scrollbar_container {
  position: relative;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}
@media (hover: hover) {
  .flexlayout__mini_scrollbar_container:hover .flexlayout__mini_scrollbar {
    visibility: visible;
    opacity: 1;
  }
}

/* ======================== End of Base Classes =========================== */
/* 
    dark theme overrides 
*/
.flexlayout__tabset_header {
  box-shadow: none;
}
.flexlayout__tabset-selected {
  /* background-image: linear-gradient(var(--color-background), var(--color-4)); */
}
.flexlayout__tabset-maximized {
  /* background-image: linear-gradient(var(--color-6), var(--color-2)); */
}
.flexlayout__tab_top {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: none;
}
.flexlayout__tab_bottom {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: none;
}
.flexlayout__border_button {
  border-radius: 3px;
  box-shadow: none;
}

/*# sourceMappingURL=dark.css.map */
